.classNamea{
    color:red;
    /* background: red; */
    font-size:32px;
    display: flex;
    height: 100vh;
    /*background: red;*/


}
.classNamea1{
    color:blue;
}
.classNamea222{
    color:red;
    font-size: 21px;
    font-size: 21px;
    font-size: 21px;
    font-size: 21px;
 /* 19012 */
}
.suyingda{
    background: red;
}